/* animation */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

* {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: dimgrey;
    /*display: flex;*/
    min-height: 100vh;
    /*flex-direction: column;*/
}

body:after {
    content: "";
    background: url("images/number26_logo.png") no-repeat center center;
    background-size: 50%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    flex: 1;
}

.tab-pane {
    height: 90vh;
    padding-top: 80px;
}

.backbutton {
    position: absolute;
    left: 15px;
    top: 15px;
}

.canceltransaction {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.hideme {
    display: none;
}

/* ==========================================================================
   TAB 1
   ========================================================================== */
h1 {
    font-size: 60px;
    text-transform: none;
}

.slot_wrapper {
    position: relative;
    top: 80px;
}

.slot {
    border: 10px solid white;
    border-radius: 6px;
    height: 30px;
    width: 120px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.slot_wrapper i {display: block}

.hand {
    margin-top: -7px;
}

@keyframes moveup {
    from {margin-top: 4%;}
    to {margin-top: 0.5%;}
}

@keyframes pulse {
    0% {
        color: #ffffff;
    }
    100% {
        color: #FF4136;
    }
}

.creditcard {
    font-size: 100px;
    -webkit-animation: 1.5s infinite moveup, 3s infinite pulse; /* Chrome, Safari, Opera */
    animation: 1.5s infinite moveup, 3s infinite reverse pulse;
    display: inline-block;
}

.creditcard:hover, .creditcard:focus {
    color: red;
    text-decoration: none;
}

/* ==========================================================================
   TAB 2
   ========================================================================== */
#pinfield {
    width: 200px;
    text-align: center;
    letter-spacing: 29px;
}

.alert {
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.visible {
    opacity: 1;
    display: block !important;
}

/* ==========================================================================
   TAB 3
   ========================================================================== */
#selectamount .row > div {
    cursor: pointer;
    margin-bottom: 45px;
}

/* ==========================================================================
   TAB 4
   ========================================================================== */
.backad {
    background: url('images/ad1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}